pandas
numpy
prophet
scikit-learn
fastapi
uvicorn
dvc[s3]
mlflow
boto3
joblib
crewai
langchain
langchain-core
langchain-community
langchain-openai
langchain-experimental
langchain-text-splitters
langsmith
pydantic
langchain-groq